name: Linux Test

on:
  push:
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Env
      uses: conda-incubator/setup-miniconda@v1
      with:
        auto-update-conda: true
        python-version: 3.7
    - name: Install dependencies
      shell: bash
      run: |
          sudo apt install -y verilator libgmp-dev libmpfr-dev libmpc-dev
    - name: Install Python packages
      shell: bash -l {0}
      run: |
          pip install -e git://github.com/phanrahan/magma.git@magma-riscv-mini#egg=magma-lang
          pip install -e git://github.com/leonardt/fault.git@assert-immediate-msg#egg=fault

          pip install pytest pytest-pycodestyle
          pip install -e .
    - name: Pytest
      shell: bash -l {0}
      run: |
        pytest --pycodestyle tests/ riscv_mini/
