name: Linux Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup Env
      uses: goanpeca/setup-miniconda@v1
      with:
        auto-update-conda: true
        python-version: 3.7
    - name: Install dependencies
      shell: bash
      run: |
          sudo apt install -y verilator libgmp-dev libmpfr-dev libmpc-dev
    - name: Install Python packages
      shell: bash -l {0}
      run: |
          pip install pytest pytest-pycodestyle
          pip install -e git://github.com/phanrahan/magma.git@bit-pattern#egg=magma-lang
          pip install -e .
    - name: Pytest
      shell: bash -l {0}
      run: |
        pytest --pycodestyle tests/
